ClientVehicle/Connected Services/ServerReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Rent.HeaderFile" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Rent.HeaderFile" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8301/?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Vehicle">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Rent">
        <xs:sequence>
          <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Fuel" type="xs:float" />
          <xs:element minOccurs="0" name="MaxFuel" type="xs:float" />
          <xs:element minOccurs="0" name="MaxSpeed" type="xs:int" />
          <xs:element minOccurs="0" name="Mileage" type="xs:float" />
          <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PicturePath" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Plate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Price" type="xs:float" />
          <xs:element minOccurs="0" name="Transmission" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VIN" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Vehicle" nillable="true" type="tns:Vehicle" />
  <xs:complexType name="Rent">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientId" type="xs:int" />
      <xs:element minOccurs="0" name="FinalDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RentLogId" type="xs:int" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Rent" nillable="true" type="tns:Rent" />
  <xs:complexType name="Account">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Admin">
        <xs:sequence>
          <xs:element minOccurs="0" name="accepted" type="xs:int" />
          <xs:element minOccurs="0" name="balance" type="xs:float" />
          <xs:element minOccurs="0" name="dateCreate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="documentid" type="xs:int" />
          <xs:element minOccurs="0" name="fathername" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="id" type="xs:int" />
          <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="mail" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="secondname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="totalMoney" type="xs:float" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Account" nillable="true" type="tns:Account" />
  <xs:complexType name="Admin">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BankCard">
        <xs:sequence>
          <xs:element minOccurs="0" name="Level" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Admin" nillable="true" type="tns:Admin" />
  <xs:complexType name="BankCard">
    <xs:sequence>
      <xs:element minOccurs="0" name="CVV" type="xs:int" />
      <xs:element minOccurs="0" name="CardNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpireDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OwnerName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BankCard" nillable="true" type="tns:BankCard" />
  <xs:complexType name="CashVoucherData">
    <xs:sequence>
      <xs:element minOccurs="0" name="companyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="streetName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CashVoucherData" nillable="true" type="tns:CashVoucherData" />
  <xs:complexType name="CashVoucher">
    <xs:sequence>
      <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FinalDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:float" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Vehicle" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CashVoucher" nillable="true" type="tns:CashVoucher" />
  <xs:complexType name="User">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Admin">
        <xs:sequence>
          <xs:element minOccurs="0" name="BackImageName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Balance" type="xs:float" />
          <xs:element minOccurs="0" name="BirthdayDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FrontImageName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="LicenseCategories" nillable="true" type="q1:ArrayOfstring" />
          <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Mail" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Status" type="xs:int" />
          <xs:element minOccurs="0" name="StatusReason" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserCreateDate" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfVehicle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Vehicle" nillable="true" type="tns:Vehicle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVehicle" nillable="true" type="tns:ArrayOfVehicle" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
</xs:schema>