ClientVehicle/Connected Services/ServerReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8301/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_Rent.HeaderFile" />
  <xs:import schemaLocation="http://localhost:8301/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCF_Rent.Structures" />
  <xs:element name="userConnect">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="userConnectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userConnectResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="userDisconnect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="userDisconnectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="selectAllVehicle">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteVehicle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_Rent.HeaderFile" minOccurs="0" name="vehicleObject" nillable="true" type="q1:Vehicle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addVehicle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_Rent.HeaderFile" minOccurs="0" name="vehicleObject" nillable="true" type="q2:Vehicle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveVehicle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF_Rent.HeaderFile" minOccurs="0" name="vehicleObject" nillable="true" type="q3:Vehicle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVehicle">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVehicleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllVehicleResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRentVehicle">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRentVehicleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllRentVehicleResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllNoRentVehicle">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllNoRentVehicleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllNoRentVehicleResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findVehicle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="plate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findVehicleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCF_Rent.HeaderFile" minOccurs="0" name="findVehicleResult" nillable="true" type="q4:Vehicle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="uploadVehicleImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="buffer" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="extenstion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="uploadVehicleImageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="vehicleImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCF_Rent.HeaderFile" minOccurs="0" name="item" nillable="true" type="q5:Vehicle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vehicleImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vehicleImageResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="log_AddVehicle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" type="xs:int" />
        <xs:element minOccurs="0" name="VIN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="log_Balance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" type="xs:int" />
        <xs:element minOccurs="0" name="card" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="log_DeleteVehicle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" type="xs:int" />
        <xs:element minOccurs="0" name="VIN" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="log_EditVehicle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" type="xs:int" />
        <xs:element minOccurs="0" name="VIN" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="str_params" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="log_RemoveRent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" type="xs:int" />
        <xs:element minOccurs="0" name="takerentid" type="xs:int" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="balancereturn" type="xs:float" />
        <xs:element minOccurs="0" name="credit" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="log_Request">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="admin_userid" type="xs:int" />
        <xs:element minOccurs="0" name="application_userid" type="xs:int" />
        <xs:element minOccurs="0" name="answer" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="log_TakeRent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" type="xs:int" />
        <xs:element minOccurs="0" name="VIN" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="price" type="xs:float" />
        <xs:element minOccurs="0" name="cashVoucherId" type="xs:int" />
        <xs:element minOccurs="0" name="startdate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="enddate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="log_TakeRentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="log_TakeRentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendStatInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendStatInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCF_Rent.Structures" minOccurs="0" name="SendStatInfoResult" nillable="true" type="q6:StatInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectVehicle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VIN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectVehicleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCF_Rent.HeaderFile" minOccurs="0" name="selectVehicleResult" nillable="true" type="q7:Vehicle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendCashVoucherData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="sendCashVoucherDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WCF_Rent.HeaderFile" minOccurs="0" name="sendCashVoucherDataResult" nillable="true" type="q8:CashVoucherData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="readCashVoucher">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="readCashVoucherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WCF_Rent.HeaderFile" minOccurs="0" name="readCashVoucherResult" nillable="true" type="q9:CashVoucher" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="writeCashVoucher">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WCF_Rent.HeaderFile" minOccurs="0" name="cashVoucher" nillable="true" type="q10:CashVoucher" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="writeCashVoucherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="writeCashVoucherResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setCashVoucherData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendCashVoucherID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="logtakerentid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendCashVoucherIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sendCashVoucherIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectUser_LoginPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectUser_LoginPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WCF_Rent.HeaderFile" minOccurs="0" name="SelectUser_LoginPasswordResult" nillable="true" type="q11:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WCF_Rent.HeaderFile" minOccurs="0" name="SelectUserResult" nillable="true" type="q12:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WCF_Rent.HeaderFile" minOccurs="0" name="item" nillable="true" type="q13:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WCF_Rent.HeaderFile" minOccurs="0" name="item" nillable="true" type="q14:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WCF_Rent.HeaderFile" minOccurs="0" name="item" nillable="true" type="q15:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserVehicle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WCF_Rent.HeaderFile" minOccurs="0" name="item" nillable="true" type="q16:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserVehicleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/WCF_Rent.HeaderFile" minOccurs="0" name="GetUserVehicleResult" nillable="true" type="q17:Vehicle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBackImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Image" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Extension" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveFrontImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Image" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Extension" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BackImageBytes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/WCF_Rent.HeaderFile" minOccurs="0" name="item" nillable="true" type="q18:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BackImageBytesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BackImageBytesResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FrontImageBytes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/WCF_Rent.HeaderFile" minOccurs="0" name="item" nillable="true" type="q19:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FrontImageBytesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FrontImageBytesResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsVehicleValid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VIN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsVehicleValidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsVehicleValidResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAllVehicle">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAllVehicleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/WCF_Rent.HeaderFile" minOccurs="0" name="SendAllVehicleResult" nillable="true" type="q20:ArrayOfVehicle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllUser">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/WCF_Rent.HeaderFile" minOccurs="0" name="SelectAllUserResult" nillable="true" type="q21:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnEditVehicle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/WCF_Rent.HeaderFile" minOccurs="0" name="item" nillable="true" type="q22:Vehicle" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/WCF_Rent.HeaderFile" minOccurs="0" name="numerable" nillable="true" type="q23:ArrayOfVehicle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnAddVehicle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/WCF_Rent.HeaderFile" minOccurs="0" name="item" nillable="true" type="q24:Vehicle" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/WCF_Rent.HeaderFile" minOccurs="0" name="numerable" nillable="true" type="q25:ArrayOfVehicle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnDeleteVehicle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/WCF_Rent.HeaderFile" minOccurs="0" name="item" nillable="true" type="q26:Vehicle" />
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/WCF_Rent.HeaderFile" minOccurs="0" name="numerable" nillable="true" type="q27:ArrayOfVehicle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnUserEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/WCF_Rent.HeaderFile" minOccurs="0" name="Item" nillable="true" type="q28:User" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/WCF_Rent.HeaderFile" minOccurs="0" name="numerable" nillable="true" type="q29:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnUserAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/WCF_Rent.HeaderFile" minOccurs="0" name="Item" nillable="true" type="q30:User" />
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/WCF_Rent.HeaderFile" minOccurs="0" name="numerable" nillable="true" type="q31:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnUserDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/WCF_Rent.HeaderFile" minOccurs="0" name="Item" nillable="true" type="q32:User" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/WCF_Rent.HeaderFile" minOccurs="0" name="numerable" nillable="true" type="q33:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>