ClientVehicle/Connected Services/ServerReference/item4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Rent.Structures" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Rent.Structures" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8301/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_Rent.HeaderFile" />
  <xs:complexType name="StatInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="FinalDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StatBalances" nillable="true" type="tns:ArrayOfStatBalanceInfo" />
      <xs:element minOccurs="0" name="StatVehicles" nillable="true" type="tns:ArrayOfStatVehicleInfo" />
      <xs:element minOccurs="0" name="StatVouchers" nillable="true" type="tns:ArrayOfStatVoucherInfo" />
      <xs:element minOccurs="0" name="TotalBalance" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatInfo" nillable="true" type="tns:StatInfo" />
  <xs:complexType name="ArrayOfStatBalanceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StatBalanceInfo" nillable="true" type="tns:StatBalanceInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStatBalanceInfo" nillable="true" type="tns:ArrayOfStatBalanceInfo" />
  <xs:complexType name="StatBalanceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CardNumber" type="xs:float" />
      <xs:element minOccurs="0" name="DateNow" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_Rent.HeaderFile" minOccurs="0" name="User" nillable="true" type="q1:User" />
      <xs:element minOccurs="0" name="Value" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatBalanceInfo" nillable="true" type="tns:StatBalanceInfo" />
  <xs:complexType name="ArrayOfStatVehicleInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StatVehicleInfo" nillable="true" type="tns:StatVehicleInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStatVehicleInfo" nillable="true" type="tns:ArrayOfStatVehicleInfo" />
  <xs:complexType name="StatVehicleInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Credit" type="xs:float" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Payment" type="xs:float" />
      <xs:element minOccurs="0" name="RentFinalDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RentStartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Returning" type="xs:float" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_Rent.HeaderFile" minOccurs="0" name="User" nillable="true" type="q2:User" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="VIN" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF_Rent.HeaderFile" minOccurs="0" name="Vehicle" nillable="true" type="q3:Vehicle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatVehicleInfo" nillable="true" type="tns:StatVehicleInfo" />
  <xs:complexType name="ArrayOfStatVoucherInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StatVoucherInfo" nillable="true" type="tns:StatVoucherInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStatVoucherInfo" nillable="true" type="tns:ArrayOfStatVoucherInfo" />
  <xs:complexType name="StatVoucherInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Operation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatVoucherInfo" nillable="true" type="tns:StatVoucherInfo" />
</xs:schema>