ClientVehicle/Connected Services/ServerReference/ServiceRent.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceRent" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IServiceRent_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8301/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8301/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8301/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_Rent.HeaderFile" />
      <xsd:import schemaLocation="http://localhost:8301/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCF_Rent.Structures" />
      <xsd:import schemaLocation="http://localhost:8301/?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceRent_userConnect_InputMessage">
    <wsdl:part name="parameters" element="tns:userConnect" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_userConnect_OutputMessage">
    <wsdl:part name="parameters" element="tns:userConnectResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_userDisconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:userDisconnect" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_userDisconnect_OutputMessage">
    <wsdl:part name="parameters" element="tns:userDisconnectResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_selectAllVehicle_InputMessage">
    <wsdl:part name="parameters" element="tns:selectAllVehicle" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_deleteVehicle_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteVehicle" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_addVehicle_InputMessage">
    <wsdl:part name="parameters" element="tns:addVehicle" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_saveVehicle_InputMessage">
    <wsdl:part name="parameters" element="tns:saveVehicle" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_GetAllVehicle_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllVehicle" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_GetAllVehicle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllVehicleResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_GetAllRentVehicle_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRentVehicle" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_GetAllRentVehicle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRentVehicleResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_GetAllNoRentVehicle_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllNoRentVehicle" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_GetAllNoRentVehicle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllNoRentVehicleResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_findVehicle_InputMessage">
    <wsdl:part name="parameters" element="tns:findVehicle" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_findVehicle_OutputMessage">
    <wsdl:part name="parameters" element="tns:findVehicleResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_uploadVehicleImage_InputMessage">
    <wsdl:part name="parameters" element="tns:uploadVehicleImage" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_uploadVehicleImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:uploadVehicleImageResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_vehicleImage_InputMessage">
    <wsdl:part name="parameters" element="tns:vehicleImage" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_vehicleImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:vehicleImageResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_log_AddVehicle_InputMessage">
    <wsdl:part name="parameters" element="tns:log_AddVehicle" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_log_Balance_InputMessage">
    <wsdl:part name="parameters" element="tns:log_Balance" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_log_DeleteVehicle_InputMessage">
    <wsdl:part name="parameters" element="tns:log_DeleteVehicle" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_log_EditVehicle_InputMessage">
    <wsdl:part name="parameters" element="tns:log_EditVehicle" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_log_RemoveRent_InputMessage">
    <wsdl:part name="parameters" element="tns:log_RemoveRent" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_log_Request_InputMessage">
    <wsdl:part name="parameters" element="tns:log_Request" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_log_TakeRent_InputMessage">
    <wsdl:part name="parameters" element="tns:log_TakeRent" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_log_TakeRent_OutputMessage">
    <wsdl:part name="parameters" element="tns:log_TakeRentResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_SendStatInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:SendStatInfo" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_SendStatInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendStatInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_selectVehicle_InputMessage">
    <wsdl:part name="parameters" element="tns:selectVehicle" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_selectVehicle_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectVehicleResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_sendCashVoucherData_InputMessage">
    <wsdl:part name="parameters" element="tns:sendCashVoucherData" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_sendCashVoucherData_OutputMessage">
    <wsdl:part name="parameters" element="tns:sendCashVoucherDataResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_readCashVoucher_InputMessage">
    <wsdl:part name="parameters" element="tns:readCashVoucher" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_readCashVoucher_OutputMessage">
    <wsdl:part name="parameters" element="tns:readCashVoucherResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_writeCashVoucher_InputMessage">
    <wsdl:part name="parameters" element="tns:writeCashVoucher" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_writeCashVoucher_OutputMessage">
    <wsdl:part name="parameters" element="tns:writeCashVoucherResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_setCashVoucherData_InputMessage">
    <wsdl:part name="parameters" element="tns:setCashVoucherData" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_sendCashVoucherID_InputMessage">
    <wsdl:part name="parameters" element="tns:sendCashVoucherID" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_sendCashVoucherID_OutputMessage">
    <wsdl:part name="parameters" element="tns:sendCashVoucherIDResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_SelectUser_LoginPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectUser_LoginPassword" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_SelectUser_LoginPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectUser_LoginPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_SelectUser_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectUser" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_SelectUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectUserResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_SaveUser_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveUser" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_GetUserVehicle_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserVehicle" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_GetUserVehicle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserVehicleResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_SaveBackImage_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveBackImage" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_SaveFrontImage_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveFrontImage" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_BackImageBytes_InputMessage">
    <wsdl:part name="parameters" element="tns:BackImageBytes" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_BackImageBytes_OutputMessage">
    <wsdl:part name="parameters" element="tns:BackImageBytesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_FrontImageBytes_InputMessage">
    <wsdl:part name="parameters" element="tns:FrontImageBytes" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_FrontImageBytes_OutputMessage">
    <wsdl:part name="parameters" element="tns:FrontImageBytesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_IsVehicleValid_InputMessage">
    <wsdl:part name="parameters" element="tns:IsVehicleValid" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_IsVehicleValid_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsVehicleValidResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_SendAllVehicle_InputMessage">
    <wsdl:part name="parameters" element="tns:SendAllVehicle" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_SendAllVehicle_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendAllVehicleResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_SelectAllUser_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllUser" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_SelectAllUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllUserResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_SelectUserApplication_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectUserApplication" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_SelectUserApplication_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectUserApplicationResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_OnEditVehicle_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnEditVehicle" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_OnAddVehicle_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnAddVehicle" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_OnDeleteVehicle_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnDeleteVehicle" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_OnUserEdit_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnUserEdit" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_OnUserAdd_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnUserAdd" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_OnUserDelete_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnUserDelete" />
  </wsdl:message>
  <wsdl:portType name="IServiceRent">
    <wsdl:operation name="userConnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceRent/userConnect" message="tns:IServiceRent_userConnect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceRent/userConnectResponse" message="tns:IServiceRent_userConnect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="userDisconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceRent/userDisconnect" message="tns:IServiceRent_userDisconnect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceRent/userDisconnectResponse" message="tns:IServiceRent_userDisconnect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="selectAllVehicle">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceRent/selectAllVehicle" message="tns:IServiceRent_selectAllVehicle_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteVehicle">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceRent/deleteVehicle" message="tns:IServiceRent_deleteVehicle_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addVehicle">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceRent/addVehicle" message="tns:IServiceRent_addVehicle_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="saveVehicle">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceRent/saveVehicle" message="tns:IServiceRent_saveVehicle_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllVehicle">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceRent/GetAllVehicle" message="tns:IServiceRent_GetAllVehicle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceRent/GetAllVehicleResponse" message="tns:IServiceRent_GetAllVehicle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllRentVehicle">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceRent/GetAllRentVehicle" message="tns:IServiceRent_GetAllRentVehicle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceRent/GetAllRentVehicleResponse" message="tns:IServiceRent_GetAllRentVehicle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllNoRentVehicle">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceRent/GetAllNoRentVehicle" message="tns:IServiceRent_GetAllNoRentVehicle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceRent/GetAllNoRentVehicleResponse" message="tns:IServiceRent_GetAllNoRentVehicle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="findVehicle">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceRent/findVehicle" message="tns:IServiceRent_findVehicle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceRent/findVehicleResponse" message="tns:IServiceRent_findVehicle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="uploadVehicleImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceRent/uploadVehicleImage" message="tns:IServiceRent_uploadVehicleImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceRent/uploadVehicleImageResponse" message="tns:IServiceRent_uploadVehicleImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="vehicleImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceRent/vehicleImage" message="tns:IServiceRent_vehicleImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceRent/vehicleImageResponse" message="tns:IServiceRent_vehicleImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="log_AddVehicle">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceRent/log_AddVehicle" message="tns:IServiceRent_log_AddVehicle_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="log_Balance">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceRent/log_Balance" message="tns:IServiceRent_log_Balance_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="log_DeleteVehicle">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceRent/log_DeleteVehicle" message="tns:IServiceRent_log_DeleteVehicle_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="log_EditVehicle">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceRent/log_EditVehicle" message="tns:IServiceRent_log_EditVehicle_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="log_RemoveRent">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceRent/log_RemoveRent" message="tns:IServiceRent_log_RemoveRent_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="log_Request">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceRent/log_Request" message="tns:IServiceRent_log_Request_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="log_TakeRent">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceRent/log_TakeRent" message="tns:IServiceRent_log_TakeRent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceRent/log_TakeRentResponse" message="tns:IServiceRent_log_TakeRent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendStatInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceRent/SendStatInfo" message="tns:IServiceRent_SendStatInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceRent/SendStatInfoResponse" message="tns:IServiceRent_SendStatInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="selectVehicle">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceRent/selectVehicle" message="tns:IServiceRent_selectVehicle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceRent/selectVehicleResponse" message="tns:IServiceRent_selectVehicle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sendCashVoucherData">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceRent/sendCashVoucherData" message="tns:IServiceRent_sendCashVoucherData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceRent/sendCashVoucherDataResponse" message="tns:IServiceRent_sendCashVoucherData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="readCashVoucher">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceRent/readCashVoucher" message="tns:IServiceRent_readCashVoucher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceRent/readCashVoucherResponse" message="tns:IServiceRent_readCashVoucher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="writeCashVoucher">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceRent/writeCashVoucher" message="tns:IServiceRent_writeCashVoucher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceRent/writeCashVoucherResponse" message="tns:IServiceRent_writeCashVoucher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setCashVoucherData">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceRent/setCashVoucherData" message="tns:IServiceRent_setCashVoucherData_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sendCashVoucherID">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceRent/sendCashVoucherID" message="tns:IServiceRent_sendCashVoucherID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceRent/sendCashVoucherIDResponse" message="tns:IServiceRent_sendCashVoucherID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectUser_LoginPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceRent/SelectUser_LoginPassword" message="tns:IServiceRent_SelectUser_LoginPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceRent/SelectUser_LoginPasswordResponse" message="tns:IServiceRent_SelectUser_LoginPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceRent/SelectUser" message="tns:IServiceRent_SelectUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceRent/SelectUserResponse" message="tns:IServiceRent_SelectUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceRent/SaveUser" message="tns:IServiceRent_SaveUser_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceRent/AddUser" message="tns:IServiceRent_AddUser_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceRent/DeleteUser" message="tns:IServiceRent_DeleteUser_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserVehicle">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceRent/GetUserVehicle" message="tns:IServiceRent_GetUserVehicle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceRent/GetUserVehicleResponse" message="tns:IServiceRent_GetUserVehicle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveBackImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceRent/SaveBackImage" message="tns:IServiceRent_SaveBackImage_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveFrontImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceRent/SaveFrontImage" message="tns:IServiceRent_SaveFrontImage_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BackImageBytes">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceRent/BackImageBytes" message="tns:IServiceRent_BackImageBytes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceRent/BackImageBytesResponse" message="tns:IServiceRent_BackImageBytes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FrontImageBytes">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceRent/FrontImageBytes" message="tns:IServiceRent_FrontImageBytes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceRent/FrontImageBytesResponse" message="tns:IServiceRent_FrontImageBytes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsVehicleValid">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceRent/IsVehicleValid" message="tns:IServiceRent_IsVehicleValid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceRent/IsVehicleValidResponse" message="tns:IServiceRent_IsVehicleValid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendAllVehicle">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceRent/SendAllVehicle" message="tns:IServiceRent_SendAllVehicle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceRent/SendAllVehicleResponse" message="tns:IServiceRent_SendAllVehicle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAllUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceRent/SelectAllUser" message="tns:IServiceRent_SelectAllUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceRent/SelectAllUserResponse" message="tns:IServiceRent_SelectAllUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectUserApplication">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceRent/SelectUserApplication" message="tns:IServiceRent_SelectUserApplication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceRent/SelectUserApplicationResponse" message="tns:IServiceRent_SelectUserApplication_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnEditVehicle">
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceRent/OnEditVehicle" message="tns:IServiceRent_OnEditVehicle_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnAddVehicle">
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceRent/OnAddVehicle" message="tns:IServiceRent_OnAddVehicle_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnDeleteVehicle">
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceRent/OnDeleteVehicle" message="tns:IServiceRent_OnDeleteVehicle_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnUserEdit">
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceRent/OnUserEdit" message="tns:IServiceRent_OnUserEdit_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnUserAdd">
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceRent/OnUserAdd" message="tns:IServiceRent_OnUserAdd_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnUserDelete">
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceRent/OnUserDelete" message="tns:IServiceRent_OnUserDelete_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IServiceRent" type="tns:IServiceRent">
    <wsp:PolicyReference URI="#NetTcpBinding_IServiceRent_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="userConnect">
      <soap12:operation soapAction="http://tempuri.org/IServiceRent/userConnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="userDisconnect">
      <soap12:operation soapAction="http://tempuri.org/IServiceRent/userDisconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectAllVehicle">
      <soap12:operation soapAction="http://tempuri.org/IServiceRent/selectAllVehicle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="deleteVehicle">
      <soap12:operation soapAction="http://tempuri.org/IServiceRent/deleteVehicle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="addVehicle">
      <soap12:operation soapAction="http://tempuri.org/IServiceRent/addVehicle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="saveVehicle">
      <soap12:operation soapAction="http://tempuri.org/IServiceRent/saveVehicle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetAllVehicle">
      <soap12:operation soapAction="http://tempuri.org/IServiceRent/GetAllVehicle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRentVehicle">
      <soap12:operation soapAction="http://tempuri.org/IServiceRent/GetAllRentVehicle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllNoRentVehicle">
      <soap12:operation soapAction="http://tempuri.org/IServiceRent/GetAllNoRentVehicle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findVehicle">
      <soap12:operation soapAction="http://tempuri.org/IServiceRent/findVehicle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadVehicleImage">
      <soap12:operation soapAction="http://tempuri.org/IServiceRent/uploadVehicleImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vehicleImage">
      <soap12:operation soapAction="http://tempuri.org/IServiceRent/vehicleImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="log_AddVehicle">
      <soap12:operation soapAction="http://tempuri.org/IServiceRent/log_AddVehicle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="log_Balance">
      <soap12:operation soapAction="http://tempuri.org/IServiceRent/log_Balance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="log_DeleteVehicle">
      <soap12:operation soapAction="http://tempuri.org/IServiceRent/log_DeleteVehicle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="log_EditVehicle">
      <soap12:operation soapAction="http://tempuri.org/IServiceRent/log_EditVehicle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="log_RemoveRent">
      <soap12:operation soapAction="http://tempuri.org/IServiceRent/log_RemoveRent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="log_Request">
      <soap12:operation soapAction="http://tempuri.org/IServiceRent/log_Request" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="log_TakeRent">
      <soap12:operation soapAction="http://tempuri.org/IServiceRent/log_TakeRent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendStatInfo">
      <soap12:operation soapAction="http://tempuri.org/IServiceRent/SendStatInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectVehicle">
      <soap12:operation soapAction="http://tempuri.org/IServiceRent/selectVehicle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendCashVoucherData">
      <soap12:operation soapAction="http://tempuri.org/IServiceRent/sendCashVoucherData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="readCashVoucher">
      <soap12:operation soapAction="http://tempuri.org/IServiceRent/readCashVoucher" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="writeCashVoucher">
      <soap12:operation soapAction="http://tempuri.org/IServiceRent/writeCashVoucher" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setCashVoucherData">
      <soap12:operation soapAction="http://tempuri.org/IServiceRent/setCashVoucherData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="sendCashVoucherID">
      <soap12:operation soapAction="http://tempuri.org/IServiceRent/sendCashVoucherID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectUser_LoginPassword">
      <soap12:operation soapAction="http://tempuri.org/IServiceRent/SelectUser_LoginPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectUser">
      <soap12:operation soapAction="http://tempuri.org/IServiceRent/SelectUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveUser">
      <soap12:operation soapAction="http://tempuri.org/IServiceRent/SaveUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap12:operation soapAction="http://tempuri.org/IServiceRent/AddUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap12:operation soapAction="http://tempuri.org/IServiceRent/DeleteUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetUserVehicle">
      <soap12:operation soapAction="http://tempuri.org/IServiceRent/GetUserVehicle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveBackImage">
      <soap12:operation soapAction="http://tempuri.org/IServiceRent/SaveBackImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SaveFrontImage">
      <soap12:operation soapAction="http://tempuri.org/IServiceRent/SaveFrontImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="BackImageBytes">
      <soap12:operation soapAction="http://tempuri.org/IServiceRent/BackImageBytes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FrontImageBytes">
      <soap12:operation soapAction="http://tempuri.org/IServiceRent/FrontImageBytes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsVehicleValid">
      <soap12:operation soapAction="http://tempuri.org/IServiceRent/IsVehicleValid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendAllVehicle">
      <soap12:operation soapAction="http://tempuri.org/IServiceRent/SendAllVehicle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllUser">
      <soap12:operation soapAction="http://tempuri.org/IServiceRent/SelectAllUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectUserApplication">
      <soap12:operation soapAction="http://tempuri.org/IServiceRent/SelectUserApplication" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnEditVehicle">
      <soap12:operation soapAction="http://tempuri.org/IServiceRent/OnEditVehicle" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnAddVehicle">
      <soap12:operation soapAction="http://tempuri.org/IServiceRent/OnAddVehicle" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnDeleteVehicle">
      <soap12:operation soapAction="http://tempuri.org/IServiceRent/OnDeleteVehicle" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnUserEdit">
      <soap12:operation soapAction="http://tempuri.org/IServiceRent/OnUserEdit" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnUserAdd">
      <soap12:operation soapAction="http://tempuri.org/IServiceRent/OnUserAdd" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnUserDelete">
      <soap12:operation soapAction="http://tempuri.org/IServiceRent/OnUserDelete" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceRent">
    <wsdl:port name="NetTcpBinding_IServiceRent" binding="tns:NetTcpBinding_IServiceRent">
      <soap12:address location="net.tcp://localhost:8302/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8302/</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>