TRC_Redesign/Connected Services/ServiceRent/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Rent.HeaderFile" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Rent.HeaderFile" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Account">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Admin">
        <xs:sequence>
          <xs:element minOccurs="0" name="accepted" type="xs:int" />
          <xs:element minOccurs="0" name="balance" type="xs:float" />
          <xs:element minOccurs="0" name="dateCreate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="documentid" type="xs:int" />
          <xs:element minOccurs="0" name="fathername" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="id" type="xs:int" />
          <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="mail" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="secondname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="totalMoney" type="xs:float" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Account" nillable="true" type="tns:Account" />
  <xs:complexType name="Admin">
    <xs:sequence>
      <xs:element minOccurs="0" name="level" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Admin" nillable="true" type="tns:Admin" />
  <xs:complexType name="Vehicle">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Rent">
        <xs:sequence>
          <xs:element minOccurs="0" name="VIN" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="fuel" type="xs:float" />
          <xs:element minOccurs="0" name="maxfuel" type="xs:float" />
          <xs:element minOccurs="0" name="maxspeed" type="xs:int" />
          <xs:element minOccurs="0" name="mileage" type="xs:float" />
          <xs:element minOccurs="0" name="model" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="picturepath" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="plate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="price" type="xs:float" />
          <xs:element minOccurs="0" name="transmission" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Vehicle" nillable="true" type="tns:Vehicle" />
  <xs:complexType name="Rent">
    <xs:sequence>
      <xs:element minOccurs="0" name="clientid" type="xs:int" />
      <xs:element minOccurs="0" name="end_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="rentlogid" type="xs:int" />
      <xs:element minOccurs="0" name="start_date" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Rent" nillable="true" type="tns:Rent" />
  <xs:complexType name="ArrayOfVehicle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Vehicle" nillable="true" type="tns:Vehicle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVehicle" nillable="true" type="tns:ArrayOfVehicle" />
  <xs:complexType name="ArrayOfAccount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Account" nillable="true" type="tns:Account" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccount" nillable="true" type="tns:ArrayOfAccount" />
</xs:schema>