TRC_Redesign/Connected Services/ServiceRent/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TRC_Redesign.header" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TRC_Redesign.header" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="account">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:admin">
        <xs:sequence>
          <xs:element minOccurs="0" name="accepted" type="xs:int" />
          <xs:element minOccurs="0" name="balance" type="xs:float" />
          <xs:element minOccurs="0" name="dateCreate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="documentid" type="xs:int" />
          <xs:element minOccurs="0" name="fathername" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="mail" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="secondname" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="account" nillable="true" type="tns:account" />
  <xs:complexType name="admin">
    <xs:sequence>
      <xs:element minOccurs="0" name="level" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="admin" nillable="true" type="tns:admin" />
</xs:schema>