TRC_Redesign/Connected Services/ServiceRent/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8301/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TRC_Redesign.header" />
  <xs:element name="userConnect">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="userConnectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userConnectResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="userDisconnect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="userDisconnectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="sendAccountObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TRC_Redesign.header" minOccurs="0" name="accountObject" nillable="true" type="q1:account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="accountObjectCallBack">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TRC_Redesign.header" minOccurs="0" name="accountObject" nillable="true" type="q2:account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>