TRC_Redesign/Connected Services/ServiceRent/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Rent.Structures" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Rent.Structures" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8301/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_Rent.HeaderFile" />
  <xs:complexType name="StatInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="statBalances" nillable="true" type="tns:ArrayOfStatBalanceInfo" />
      <xs:element minOccurs="0" name="statVehicles" nillable="true" type="tns:ArrayOfStatVehicleInfo" />
      <xs:element minOccurs="0" name="totalbalance" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatInfo" nillable="true" type="tns:StatInfo" />
  <xs:complexType name="ArrayOfStatBalanceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StatBalanceInfo" nillable="true" type="tns:StatBalanceInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStatBalanceInfo" nillable="true" type="tns:ArrayOfStatBalanceInfo" />
  <xs:complexType name="StatBalanceInfo">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_Rent.HeaderFile" minOccurs="0" name="account" nillable="true" type="q1:Account" />
      <xs:element minOccurs="0" name="cardnumber" type="xs:float" />
      <xs:element minOccurs="0" name="dateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="value" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatBalanceInfo" nillable="true" type="tns:StatBalanceInfo" />
  <xs:complexType name="ArrayOfStatVehicleInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StatVehicleInfo" nillable="true" type="tns:StatVehicleInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStatVehicleInfo" nillable="true" type="tns:ArrayOfStatVehicleInfo" />
  <xs:complexType name="StatVehicleInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="VIN" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_Rent.HeaderFile" minOccurs="0" name="account" nillable="true" type="q2:Account" />
      <xs:element minOccurs="0" name="credit" type="xs:float" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="payment" type="xs:float" />
      <xs:element minOccurs="0" name="rent_endDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="rent_startDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="returning" type="xs:float" />
      <xs:element minOccurs="0" name="userid" type="xs:int" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF_Rent.HeaderFile" minOccurs="0" name="vehicle" nillable="true" type="q3:Vehicle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatVehicleInfo" nillable="true" type="tns:StatVehicleInfo" />
</xs:schema>