TRC_Redesign/Connected Services/ServiceRent/ServiceRent.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceRent" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IServiceRent_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8301/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8301/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8301/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TRC_Redesign.header" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceRent_userConnect_InputMessage">
    <wsdl:part name="parameters" element="tns:userConnect" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_userConnect_OutputMessage">
    <wsdl:part name="parameters" element="tns:userConnectResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_userDisconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:userDisconnect" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_userDisconnect_OutputMessage">
    <wsdl:part name="parameters" element="tns:userDisconnectResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_sendAccountObject_InputMessage">
    <wsdl:part name="parameters" element="tns:sendAccountObject" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_accountObjectCallBack_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:accountObjectCallBack" />
  </wsdl:message>
  <wsdl:portType name="IServiceRent">
    <wsdl:operation name="userConnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceRent/userConnect" message="tns:IServiceRent_userConnect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceRent/userConnectResponse" message="tns:IServiceRent_userConnect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="userDisconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceRent/userDisconnect" message="tns:IServiceRent_userDisconnect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceRent/userDisconnectResponse" message="tns:IServiceRent_userDisconnect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sendAccountObject">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceRent/sendAccountObject" message="tns:IServiceRent_sendAccountObject_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="accountObjectCallBack">
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceRent/accountObjectCallBack" message="tns:IServiceRent_accountObjectCallBack_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IServiceRent" type="tns:IServiceRent">
    <wsp:PolicyReference URI="#NetTcpBinding_IServiceRent_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="userConnect">
      <soap12:operation soapAction="http://tempuri.org/IServiceRent/userConnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="userDisconnect">
      <soap12:operation soapAction="http://tempuri.org/IServiceRent/userDisconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendAccountObject">
      <soap12:operation soapAction="http://tempuri.org/IServiceRent/sendAccountObject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="accountObjectCallBack">
      <soap12:operation soapAction="http://tempuri.org/IServiceRent/accountObjectCallBack" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceRent">
    <wsdl:port name="NetTcpBinding_IServiceRent" binding="tns:NetTcpBinding_IServiceRent">
      <soap12:address location="net.tcp://localhost:8302/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8302/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>WIN-9RJKOA83FOR\Admin</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>