TRC_Redesign/Connected Services/ServiceRent/ServiceRent.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceRent" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IServiceRent_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8301/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8301/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8301/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_Rent.HeaderFile" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceRent_userConnect_InputMessage">
    <wsdl:part name="parameters" element="tns:userConnect" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_userConnect_OutputMessage">
    <wsdl:part name="parameters" element="tns:userConnectResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_userDisconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:userDisconnect" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_userDisconnect_OutputMessage">
    <wsdl:part name="parameters" element="tns:userDisconnectResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_selectAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:selectAccount" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_selectAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_createSqlConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:createSqlConnection" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_selectAllVehicle_InputMessage">
    <wsdl:part name="parameters" element="tns:selectAllVehicle" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_deleteVehicle_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteVehicle" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_addVehicle_InputMessage">
    <wsdl:part name="parameters" element="tns:addVehicle" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_saveVehicle_InputMessage">
    <wsdl:part name="parameters" element="tns:saveVehicle" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_isAccountValid_InputMessage">
    <wsdl:part name="parameters" element="tns:isAccountValid" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_isAccountValid_OutputMessage">
    <wsdl:part name="parameters" element="tns:isAccountValidResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_isSqlConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:isSqlConnection" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_isSqlConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:isSqlConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_saveAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:saveAccount" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_addAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:addAccount" />
  </wsdl:message>
  <wsdl:message name="IServiceRent_deleteAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteAccount" />
  </wsdl:message>
  <wsdl:portType name="IServiceRent">
    <wsdl:operation name="userConnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceRent/userConnect" message="tns:IServiceRent_userConnect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceRent/userConnectResponse" message="tns:IServiceRent_userConnect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="userDisconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceRent/userDisconnect" message="tns:IServiceRent_userDisconnect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceRent/userDisconnectResponse" message="tns:IServiceRent_userDisconnect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="selectAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceRent/selectAccount" message="tns:IServiceRent_selectAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceRent/selectAccountResponse" message="tns:IServiceRent_selectAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="createSqlConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceRent/createSqlConnection" message="tns:IServiceRent_createSqlConnection_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="selectAllVehicle">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceRent/selectAllVehicle" message="tns:IServiceRent_selectAllVehicle_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteVehicle">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceRent/deleteVehicle" message="tns:IServiceRent_deleteVehicle_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addVehicle">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceRent/addVehicle" message="tns:IServiceRent_addVehicle_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="saveVehicle">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceRent/saveVehicle" message="tns:IServiceRent_saveVehicle_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isAccountValid">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceRent/isAccountValid" message="tns:IServiceRent_isAccountValid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceRent/isAccountValidResponse" message="tns:IServiceRent_isAccountValid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isSqlConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceRent/isSqlConnection" message="tns:IServiceRent_isSqlConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceRent/isSqlConnectionResponse" message="tns:IServiceRent_isSqlConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="saveAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceRent/saveAccount" message="tns:IServiceRent_saveAccount_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceRent/addAccount" message="tns:IServiceRent_addAccount_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceRent/deleteAccount" message="tns:IServiceRent_deleteAccount_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IServiceRent" type="tns:IServiceRent">
    <wsp:PolicyReference URI="#NetTcpBinding_IServiceRent_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="userConnect">
      <soap12:operation soapAction="http://tempuri.org/IServiceRent/userConnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="userDisconnect">
      <soap12:operation soapAction="http://tempuri.org/IServiceRent/userDisconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectAccount">
      <soap12:operation soapAction="http://tempuri.org/IServiceRent/selectAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createSqlConnection">
      <soap12:operation soapAction="http://tempuri.org/IServiceRent/createSqlConnection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="selectAllVehicle">
      <soap12:operation soapAction="http://tempuri.org/IServiceRent/selectAllVehicle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="deleteVehicle">
      <soap12:operation soapAction="http://tempuri.org/IServiceRent/deleteVehicle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="addVehicle">
      <soap12:operation soapAction="http://tempuri.org/IServiceRent/addVehicle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="saveVehicle">
      <soap12:operation soapAction="http://tempuri.org/IServiceRent/saveVehicle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="isAccountValid">
      <soap12:operation soapAction="http://tempuri.org/IServiceRent/isAccountValid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isSqlConnection">
      <soap12:operation soapAction="http://tempuri.org/IServiceRent/isSqlConnection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveAccount">
      <soap12:operation soapAction="http://tempuri.org/IServiceRent/saveAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="addAccount">
      <soap12:operation soapAction="http://tempuri.org/IServiceRent/addAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="deleteAccount">
      <soap12:operation soapAction="http://tempuri.org/IServiceRent/deleteAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceRent">
    <wsdl:port name="NetTcpBinding_IServiceRent" binding="tns:NetTcpBinding_IServiceRent">
      <soap12:address location="net.tcp://localhost:8302/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8302/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>WIN-9RJKOA83FOR\Admin</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>